<div
  class="w-full flex flex-col gap-5 justify-center items-start text-preset4-regular"
>
  <h2 class="text-preset2">{{ userData.name }}</h2>

  <div class="grid grid-cols-2 items-start justify-start gap-5">
    <p><span class="font-bold">Email: </span> {{ userData.email }}</p>
    <p><span class="font-bold">Phone: </span> {{ userData.phone }}</p>
    <p><span class="font-bold">Website: </span> {{ userData.website }}</p>
    <p><span class="font-bold">Company: </span> {{ userData.company.name }}</p>
    <p>
      <span class="font-bold">Addres: </span> {{ userData.address.street }}
      {{ userData.address.suite }}
    </p>
  </div>
</div>
